body {
    background: linear-gradient(90deg, #536D7A 0%, #292E49 100%);
}

.image-contour {
    width: 200px; 
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
}

.image-contour img {
    width: 100%;
    height: auto;
    margin-top: -60px;
}

.pdf-icon {
    width: 20px; 
    height: auto;
    margin-right: 8px;
    margin-bottom: 3px;
    vertical-align: middle;
}