{% extends 'base.html.twig' %}

{% block title %}Mes Loisirs{% endblock %}

{% block body %}
    <style>
    </style>

    <div class="container">

        <div class="language-rating">
            <h2>Langues</h2>
            <ul>
                {% for language, rating in languages %}
                    <li>{{ language }}: {{ rating }}/5 (système d'étoile)</li>
                {% endfor %}
            </ul>
        </div>

        <div class="interests">
        <h1>Mes Centres D'intérets</h1>
            <div>
                <h2>Voyages</h2>
                <ul>
                    {% for destination in travelDestinations %}
                        <li>{{ destination }}</li>
                    {% endfor %}
                </ul>
            </div>

            <div>
                <h2>Sport</h2>
                <ul>
                    {% for sport in sports %}
                        <li>{{ sport }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
