<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Nouveau message du site CV (contact)</title>
</head>
<body>
    <h2>Nouveau message du site CV (contact)</h2>
    <p>Bonjour le boss, <br> Une nouvelle personne vous a envoyé un mmessage via le site du CV</p>
    <p><strong>Prénom :</strong> {{ message.prenom }}</p>
    <p><strong>Nom :</strong> {{ message.nom }}</p>
    <p><strong>Email :</strong> {{ message.email }}</p>
    <p><strong>Message :</strong></p>
    <p>{{ message.message }}</p>
</body>
</html>